
body {
  background: #fff;
  font-size: 0.3rem;
}
.apply_join_header {
  padding: .25rem .45rem;
  position: relative;
  background: #f0f0f1;
}
.apply_join_header ul {
  overflow: hidden;
}
.apply_join_header ul li {
  float: left;
}
.apply_join_header ul li:first-child {
  margin-right: .15rem;
}
.apply_join_header ul li:last-child {
  margin-top: .15rem;
}
.apply_join_header ul li:last-child span {
  font-size: .3rem;
}
.apply_join_header ul li:last-child p {
  margin-top: .05rem;
  font-size: .14rem;
  color: #939393;
}
.apply_join_header ul li:last-child p img {
  width: .22rem;
  vertical-align: top;
}
.apply_join_header > p {
  position: absolute;
  bottom: .13rem;
  right: .27rem;
  font-size: .22rem;
  color: #fd7e29;
}
.apply_join_header > p img {
  width: .34rem;
  vertical-align: top;
}
.apply_join_section {
  width: 7rem;
  padding-left: .2rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.apply_join_section ul li {
  padding: .23rem .14rem;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
  position: relative;
}
.apply_join_section ul li input,
.apply_join_section ul li label {
  float: left;
}
.apply_join_section ul li input {
  width: 80%;
  padding: 0.1rem .12rem;
  font-size: .3rem;
}
.apply_join_section ul li span {
  width: 50%;
  padding: 0.1rem .12rem;
  font-size: .3rem;
}
.apply_join_section ul li select{
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  width: 96%;
  direction: rtl;
  line-height: 1rem;
  /*padding: 0.1rem .12rem;*/
  font-size: .3rem;
  color: #231815;
  float: right;
  font-family: "微软雅黑";
  /*清除默认小箭头*/

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 0.26rem;
  background: url(../img/list_dow.png) right center no-repeat;
  -webkit-background-size: 0.24rem;
  background-size: 0.24rem;

}
.apply_join_section ul li span {
  display: inline-block;
  color: #a9a9a9;
}
.apply_join_section ul li label {
  margin-top: .13rem;
}
.apply_join_section ul li label img {
  width: .3rem;
}
.apply_join_section ul li:last-child {
  position: relative;
}
.apply_join_section ul li:last-child > img {
  position: absolute;
  top: .15rem;
  right: .34rem;
  width: .71rem;
  height: .71rem;
}
.apply_join_section ul li:last-child > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.apply_join_section ul li:last-child > input {
  display: none;
}
.apply_join_section div {
  padding: .35rem .3rem;
  font-size: .2rem;
  color: #b6b6b6;
}
.apply_join_section div input {
  display: none;
}
.apply_join_section div img {
  width: .25rem;
	vertical-align: text-bottom;
}
.apply_join_section div > a {
  color: #fd7e29;
}
.apply_join_section p {
  width: 4.56rem;
  margin: 0 auto;
}
.apply_join_section p button {
  width: 100%;
  height: .6rem;
  border: none;
  border-radius: 4px;
  background: #ffa304;
  color: #fff;
  font-size: .26rem;
}


 /*遮罩层*/
#mask{
  position: fixed;
  background: rgba(0,0,0,0.76);
  height: 100%;
  width: 100%;
  z-index: 1200;
  display: none;
  overflow: scroll;
}
#mask .popup{
  box-sizing: border-box;
  width: 5.9rem;
  background: #fff;
  position: absolute;
  top: 18%;
  margin-left: -2.95rem;
  left: 50%;
  z-index: 1300;
  border-radius: 0.25rem;
  padding: 0.8rem 0.3rem 0.5rem 0.3rem;
  margin-bottom: 0.5rem;
}
#mask .popup .popup_tit{
  color: #ffa404;
  font-size: 0.3rem;
  text-align: center;
  margin-bottom: 0.3rem;
}
#mask .popup .popup_content{
  color: #231815;
  font-size: 0.20rem;
  text-align: center;
  font-style: normal;
  overflow:scroll;
}
#mask .popup .popup_content p{
  text-align: left;
  text-indent: 0.4rem;
  margin-bottom: 0.1rem;
}
.popup_btn_box{
  /*padding: 0.3rem 0;*/
  text-align: center;
  margin: 0.30rem auto;
}
.popup_btn_box .agree_btn{
  display: inline-block;
  padding: 0.03rem 0.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background: #ffa404;
  color: #fff;
  font-size: 0.30rem;
  font-family: "微软雅黑";
  border-radius: 0.04rem;
}
 