
body {
  background: #fff;
  font-size: 0.3rem;
}
.apply_through_header {
  padding: .25rem .45rem;
  position: relative;
  background: #f0f0f1;
}
.apply_through_header ul {
  overflow: hidden;
}
.apply_through_header ul li {
  float: left;
}
.apply_through_header ul li .shanghui_logo{
  width: 1rem;
  height: 1rem;
  margin-top: 0.05rem;
}
.apply_through_header ul li:first-child {
  margin-right: .15rem;
}
.apply_through_header ul li:last-child {
  margin-top: .15rem;
}
.apply_through_header ul li:last-child span {
  font-size: .3rem;
}
.apply_through_header ul li:last-child p {
  margin-top: .05rem;
  font-size: .22rem;
  color: #939393;
}
.apply_through_header ul li:last-child p img {
  width: .22rem;
  margin-top: 0.1rem;
}
.apply_through_header > p {
  position: absolute;
  bottom: .13rem;
  right: .27rem;
  font-size: .26rem;
  color: #ffa304;
}
.apply_through_header > p img {
  width: .34rem;
  vertical-align: top;
}
.apply_through_section{
  width: 7rem;
  margin: 0 auto;
}
.apply_through_section .apply_throudh_notify{
  width: 5.3rem;
  border: 5px solid #f0f0f1;
  margin: 1.6rem auto;
  min-height: 0.8rem;
  color: #332C2B;
  font-size: 0.25rem; 
  text-align: center;
  padding: 0.35rem 0;
  line-height: 0.38rem;
}
.apply_through_section .margin_top{
  height: 1rem;
}
.apply_through_section .apply_through_btn{
  margin: 0rem auto 0.25rem;
  width: 90%;
  height: 0.7rem;
  line-height: 0.7rem;
  border-radius: 0.08rem;
  background: #ffa304;
  border:1px solid #ffa304;
  text-align: center;
  font-family: "微软雅黑";
}
.apply_through_section .apply_through_btn a{
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  font-family: "微软雅黑";
}
.apply_through_section .del_posotion{
  margin: 0.25rem auto;
  width: 90%;
  height: 0.7rem;
  line-height: 0.7rem;
  border-radius: 0.08rem;
  text-align: center;
  font-family: "微软雅黑";
  background: transparent;
  border:1px solid #ffa304;
  color: #ffa304;
}
.apply_through_section .del_posotion a{
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 0.32rem;
  font-family: "微软雅黑";
  color: #ffa304;
}