body{
  font-size: 0.28rem;
  overflow: scroll;
}
/* ÁÄÌì header*/
.card_case_header {
  height: 0.8rem;
  width: 100%;
  background: #f0f0f2;
}
.card_case_header .search_from{
  width: 95%;
  height: 0.8rem;
  margin: 0 auto;
  padding: 0 .15rem;
}
.card_case_header .input_box{
  float: left;
  margin-top: 0.13rem;
  height: 0.56rem;
  width: 90%;
  border:1px solid #dededf;
  background: #fff;
  border-radius: 0.08rem;
}
.input_box>input{
  float: left;
  height: 0.56rem;
  width: 85%;
  font-size: 0.3rem;
}
.card_case_header .input_box .search_bnt{
  float: left;
  width: 0.7rem;
  height: 0.56rem;
  overflow: hidden;
}
.card_case_header .input_box .search_bnt img{
  display: inline-block;
  width: 0.45rem;
  padding-left: 0.1rem;
  margin-top: .05rem;
}
.card_case_header .add_contacts{
  float: left;
  width: 8%;
  height: 0.8rem;
  text-align: center;
}
.card_case_header .add_contacts a{
  float: left;
  text-align: center;
  width: 100%;
  padding: .2rem .1rem;
}
.card_case_header .add_contacts img{
  width: .5rem;
}

.nav {
  width: 7rem;
  margin: 0 auto;
  margin-top: .1rem;

  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.nav > ul > li .nav-title {
  position: relative;
  padding: .3rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.nav > ul > li .nav-title > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.nav > ul > li .nav-title > img {
  width: .3rem;
  vertical-align: top;
}
.nav > ul > li .nav-title .nav-spanlist {
  float: right;
  color: #ccc;
}
.nav > ul > li .nav-title .nav-spanlist img{
  width: .2rem;
}
.nav > ul > li .section {
  display: none;
}
.nav > ul > li .section-list > ul {
  overflow: hidden;
  padding: .11rem 0 .1rem .3rem;
  background: #fff;
  border-bottom: 1px solid #ccc;

}
.nav > ul > li .section-list > ul > li {
  float: left;
}
.nav > ul > li .section-list > ul > li:first-child {
  width: 16%;
}
.nav > ul > li .section-list > ul > li:first-child>img{
	width: 100%;
}
.nav > ul > li .section-list > ul > li:nth-child(2){
  width: 51%;
  padding: 0 0.15rem;
}
.nav > ul > li .section-list > ul > li:nth-child(2) ul li:first-child{
  margin-bottom: .03rem;
}
.nav > ul > li .section-list > ul > li:nth-child(2) ul li:first-child img {
  width: .25rem;
}
.nav > ul > li .section-list > ul > li:nth-child(2) ul li:first-child span:first-child {
   font-size: .4rem;
 }
.nav > ul > li .section-list > ul > li:nth-child(2) ul li:first-child span:last-child {
  color: #bbbbbd;
  font-size: .25rem;
}
.nav > ul > li .section-list > ul > li:nth-child(2) ul li:nth-child(2) {
  color: #ccc;
  font-size: .25rem;
}
.nav > ul > li .section-list > ul > li:nth-child(3) {
  width: 25%;
  float: right;
  padding: .2rem 0;
  margin-right: .2rem;
}
.nav > ul > li .section-list > ul > li:nth-child(3) img {
  height: .45rem;
  vertical-align: middle;
}
.nav > ul > li .section-list > ul > li:nth-child(3) a {
  display: inline-block;
  padding: .1rem;
}


/* µ×²¿ footer */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
}
.footer ul{
  height: 100%;
}
.footer ul li{
  height: 100%;
  float: left;
  padding: .1rem 0;
  text-align: center;
  color: #fff;
}
.footer ul li a{
  color: #fff;
}
.footer ul li:first-child{
  width: 30%;
  background: #bbbbbd;
}
.footer ul li:last-child{
  width: 70%;
  background: #f49e00;
}
.footer ul li img{
  width: .5rem;
}
.footer ul li span{
  display: block;
  text-align: center;
}
.footer ul li:first-child span{
  margin-top: -.1rem;
}