body{
  font-size: 0.28rem;
  overflow: scroll;
}
/* ÁÄÌì header*/
.card_case_header {
  position: fixed;
  top: 0;
  left: 0;
  height: .9rem;
  width: 100%;
  background: #f0f0f2;
}
.card_case_header .search_from{
  width: 95%;
  height: 0.8rem;
  margin: 0 auto;
  padding: 0 .15rem;
}
.card_case_header .input_box{
  float: left;
  margin-top: 0.13rem;
  height: 0.56rem;
  width: 90%;
  border:1px solid #dededf;
  background: #fff;
  border-radius: 0.08rem;
}
.input_box>input{
  float: left;
  height: 0.56rem;
  width: 85%;
  font-size: 0.3rem;
}
.card_case_header .input_box .search_bnt{
  float: left;
  width: 0.7rem;
  height: 0.56rem;
  overflow: hidden;
}
.card_case_header .input_box .search_bnt img{
  display: inline-block;
  width: 0.45rem;
  padding-left: 0.1rem;
  margin-top: .05rem;
}
.card_case_header .add_contacts{
  float: left;
  width: 8%;
  height: 0.8rem;
  text-align: center;
}
.card_case_header .add_contacts a{
  float: left;
  text-align: center;
  width: 100%;
  padding: .18rem .1rem;
}
.card_case_header .add_contacts img{
  width: .5rem;
}


.nav-right {
  position: fixed;
  right: 0;
  top: 1.3rem;
  padding: .1rem 0;
  color: #ccc;
  z-index: 10000;
  font-size: .22rem;

  -webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.nav-right.hover{
	color: #fff;
}
#nav-right-ul li{
  width: .4rem;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
}
#nav-right-ul li.active{
	color: #fd7e29;
}
#nav-right-ul li img{
  width: .3rem;
}

.show_box{
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  background: rgba(145,145,145,0.6);
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -1rem 0px 0px -1rem;
  z-index: 99;
  display: none;
}
.show_box img{
	width: 78%;
  margin-top: .2rem;
}


.section{
  margin-top: 0.9rem;
}
.section .section-list p {
  padding-left: .2rem;
  color: #000;
  background: #f0f0f2;
}
.section .section-list > div > ul {
  overflow: hidden;
  padding: .11rem 0 .1rem .3rem;
  background: #fff;
  margin-bottom: .04rem;
}
.section .section-list > div > ul > li {
  float: left;
}
.section .section-list > div > ul > li:first-child {
  width: 20%;
}
.section .section-list > div > ul > li:first-child>img{
  width: 100%;
}
.section .section-list > div > ul > li:nth-child(2){
  width: 50%;
  height: 1.1rem;
  padding: 0.15rem;
  overflow: hidden;
}
.section .section-list > div > ul > li:nth-child(2) ul li:first-child img {
  width: .2rem;
}
.section .section-list > div > ul > li:nth-child(2) ul li:first-child span:last-child {
  color: #fd7e29;
  font-size: .2rem;
}
.section .section-list > div > ul > li:nth-child(2) ul li:nth-child(2) {
  color: #ccc;
  font-size: .23rem;
}
.section .section-list > div > ul > li:nth-child(3) {
  width: 22%;
  float: right;
  padding: .42rem 0;
  margin-right: .2rem;
}
.section .section-list > div > ul > li:nth-child(3) img {
  width: .5rem;
  vertical-align: middle;
}
.section .section-list > div > ul > li:nth-child(3) a {
  display: inline-block;
}
.section .section-list > div > ul > li:nth-child(3) a:first-child {
  margin-right: .1rem;
}
/* µ×²¿ footer */
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
}
.footer ul{
  height: 100%;
}
.footer ul li{
  height: 100%;
  float: left;
  padding: .1rem 0;
  text-align: center;
  color: #fff;
}
.footer ul li a{
  color: #fff;
}
.footer ul li:first-child{
  width: 30%;
  background: #bbbbbd;
}
.footer ul li:last-child{
  width: 70%;
  background: #f49e00;
}
.footer ul li img{
  width: .5rem;
}
.footer ul li span{
  display: block;
  text-align: center;
}
.footer ul li:first-child span{
  margin-top: -.1rem;
}