*{box-sizing: border-box}
body {
  //font-size: 0.3rem;
}
.header {
  padding: .25rem .45rem;
  position: relative;
  background: #f0f0f1;
}
.header ul {
  overflow: hidden;
}
.header ul li {
  float: left;
}
.header ul li:first-child {
  margin-right: .15rem;
}
.header ul li:first-child img {
  width: 1.2rem;
}
.header ul li:last-child {
  margin-top: .25rem;
}
.header ul li:last-child span {
  font-size: .3rem;
}
.header ul li:last-child p {
  font-size: .22rem;
  color: #939393;
}
.header ul li:last-child p img {
  width: .25rem;
  vertical-align: middle;
}
.header > p {
  position: absolute;
  bottom: .2rem;
  bottom: .2rem;
  right: .3rem;
  font-size: .22rem;
  color: #fd7e29;
}
.header > p img {
  width: .34rem;
  vertical-align: top;
}

// 导航栏
.nav{
  width: 100%;
  height: .8rem;
  margin-bottom: .15rem;
  >ul{
    >li{
      float: left;
      width: 49.75%;
      height: .8rem;
      line-height: .8rem;
      border-bottom: 1px solid #bbbbbd;
      background: #fff;
      color: #bbbbbd;
      text-align: center;
      &.active{
        border-color: #f49e00;
        color: #f49e00;
      }
      &:first-child{
        margin-right: .5%;
      }
    }
  }
}
.section{
  >ul{
    display: none;
    &.section-chamber{
      display: block;
    }
    >li{
      margin-top: .1rem;
      background: #fff;
      .list{
        &-main{
          position: relative;
          padding: 0 .2rem;
          >ul{
            padding: .1rem 0;
            border-bottom: 1px solid #bbbbbd;
            >li{
              float: left;
              &:first-child{
                width: 20%;
                height: 100%;
                margin-right: 2%;
                span{
                  display: table-cell;
                  width: 100%;
                  height: 100%;
                  vertical-align: middle;
                  img{
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
              }
              &:last-child{
                width: 78%;
                >p{
                  &:nth-child(2){
                    font-size: .25rem;
                    color: #bbbbbd;
                  }
                }
                >ul{
                  margin-top: .05rem;
                  color: #bbbbbd;
                  >li{
                    float: left;
                    margin-right: .4rem;
                    font-size: .2rem;
                    img{
                      width: .2rem;
                      vertical-align: middle;
                    }
                    &:nth-child(2),
                    &:last-child{
                      margin-top: .03rem;
                      font-size: .23rem;
                    }
                  }
                }
              }
            }
          }
          >a{
            position: absolute;
            bottom: .4rem;
            right: .4rem;
            padding: 0 .1rem;
            border: 1px solid #66c;
            border-radius: 3px;
            color: #66c;
          }
        }
        &-lianxi{
          >span{
            float: left;
            width: 6%;
            padding: .02rem 0;
            background: #f49e00;
            text-align: center;
            color: #fff;
            font-size: .3rem;
          }
          >ul{
            float: left;
            width: 94%;
            padding: .08rem .2rem;
            >li{
              &:first-child{
                float: left;
                img{
                  width: 1.2rem;
                  border-radius: 50%;
                  vertical-align: middle;
                }
              }
              &:last-child{
                float: right;
                padding-top: .25rem;
                a{
                  display: inline-block;
                  padding: .05rem .4rem;
                  border: 1px solid #f49e00;
                  border-radius: 3px;
                  &.refuse{
                    color: #f49e00;
                  }
                  &.agree{
                    margin-left: .2rem;
                    background: #f49e00;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}