* {
  box-sizing: border-box;
}
.section {
  width: 7rem;
  margin: 0 auto;
}
.section-header {
  width: 100%;
  padding: 0.3rem 1.6rem;
}
.section-header img {
  width: 100%;
}
.section-header input {
  display: none;
}
.section-title {
  padding: .05rem .1rem;
  background: #fff;
}
.section-title > div {
  height: .75rem;
  line-height: .75rem;
  padding-left: .1rem;
  border-bottom: 1px solid #bbbbbd;
}
.section-title > div > span {
  padding: .2rem 0;
}
.section-title > div > span img {
  width: .3rem;
}
.section-title > div input {
  height: .6rem;
  font-size: .3rem;
}
