* {
  box-sizing: border-box;
}
.section {
  width: 7rem;
  margin: 0 auto;
}
.section-header {
  width: 100%;
  padding: .1rem 0;
}
.section-header-first {
  width: 100%;
  padding: 0.3rem 2rem;
}
.section-header-first img {
  width: 100%;
}
.section-header-first input {
  display: none;
}
.section-header ul {
  display: none;
}
.section-header ul li.add_img {
  height: 1.4rem;
  width: 25%;
  padding: 0 0 0 .2rem;
}
.section-header ul li.add_img > img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #bbbbbd;
}
.section-title {
  padding: .05rem .1rem;
  background: #fff;
}
.section-title > div {
  height: .75rem;
  line-height: .75rem;
  padding-left: .13rem;
  border-bottom: 1px solid #bbbbbd;
}
.section-title > div > span {
  float: left;
  padding-top: .06rem;
}
.section-title > div > span img {
  width: .3rem;
}
.section-title > div input {
  height: .75rem;
  padding-left: .2rem;
  float: left;
  font-size: .3rem;
}
.section #toolbar .toolbar-title {
  float: left;
  font-size: .29rem;
  margin-right: .3rem;
}
.section #toolbar > button,
.section #toolbar > span {
  float: right;
}
.section #toolbar svg {
  height: .4rem;
}
.section #toolbar button.ql-image {
  background: url(../img/camera_01.png) no-repeat center center;
  background-size: 100% 80%;
}
.section #toolbar button.ql-image svg {
  display: none;
}
.section #editor {
  width: 100%;
  min-height: 1.5rem;
  background: #fff;
}
.section-paper p {
  padding: .1rem .5rem;
}
.section-paper textarea {
  width: 100%;
  min-height: 1.2rem;
  padding: .05rem .3rem;
  background: #fff;
  font-size: .34rem;
}
.section-addpersonnel>p {
  width: 100%;
  padding-top: .05rem;
  text-align: center;
  color: #bbbbbd;
}
.section-addpersonnel p a {
  display: block;
  width: 100%;
}
.section-addpersonnel p a img {
  width: .7rem;
}
.section-addpersonnel p a span {
  position: relative;
  top: -0.12rem;
}
.section ul.clearfix {
  width: 100%;
  min-height: 1rem;
  padding: .3rem .2rem;
  padding-bottom: 0;
  border-bottom: 1px solid #bbbbbd;
  background: #fff;
}
.section ul.clearfix li {
  float: left;
  width: 25%;
  padding-right: .3rem;
  margin-bottom: .3rem;
  position: relative;
}
.section ul.clearfix li div {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.section ul.clearfix li div p span:first-child{
  font-size: .3rem;
}
.section ul.clearfix li div p span:last-child{
  font-size: .24rem;
  color: #bbbbbd;
}
.section ul.clearfix li div>img {
  max-width: 100%;
  max-height: 100%;
}
.section ul.clearfix li > img.del_notice {
  position: absolute;
  top: 0;
  right: 0;
  width: .3rem;
}
/*µ¯¿ò*/
.model-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.model-box > p {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 300;
}
.model-box > p > span {
  display: inline-block;
  width: 2rem;
  padding: .1rem;
  border-radius: 2px;
  background: #f49e00;
  text-align: center;
}
.model-box > p > span#black {
  margin-right: .5rem;
}
/*Î²²¿*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
}
.footer > ul {
  height: 100%;
}
.footer > ul > li {
  float: left;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
}
.footer > ul > li:first-child {
  width: 20%;
  background: #bbbbbd;
}
.footer > ul > li:last-child {
  width: 80%;
  background: #f49e00;
}
.footer > ul > li a {
  color: #fff;
}