*{box-sizing: border-box;}
.section{
  width: 7rem;
  margin: 0 auto;
  &-header{
    width: 100%;
    padding: .1rem 0;
    &-first{
      width: 100%;
      padding: 0.3rem 2rem;
      img{
        width: 100%;
      }
      input{
        display: none;
      }
    }
    ul{
      display: none;
      li.add_img{
        height: 1.4rem;
        width: 25%;
        padding: 0 0 0 .2rem;
        >img{
          max-width: 100%;
          max-height: 100%;
          border: 1px solid #bbbbbd;
        }
      }
    }
  }
  &-title{
    padding: .05rem .1rem;
    background: #fff;
    >div{
      height: .75rem;
      line-height: .75rem;
      padding-left: .13rem;
      border-bottom: 1px solid #bbbbbd;
      >span{
        float: left;
        padding-top: .06rem;
        img{
          width: .3rem;
        }
      }
      input{
        height: .75rem;
        padding-left: .2rem;
        float: left;
        font-size: .3rem;
      }
    }
  }
  #editor{
    width: 100%;
    min-height: 1.5rem;
    background: #fff;
  }
  &-paper{
    p{
      padding: .1rem .5rem;
    }
    textarea{
      width: 100%;
      min-height: 1.2rem;
      padding: .05rem .3rem;
      background: #fff;
      font-size: .34rem;
    }
  }
  &-addpersonnel{
    p{
      width: 100%;
      padding-top: .05rem;
      text-align: center;
      color: #bbbbbd;
      a{
        display: block;
        width: 100%;
        img{
          display: inline-block;
          width: .7rem;
        }
        span{
          position: relative;
          top: -.12rem;
        }
      }
    }
  }
}

ul.clearfix{
  width: 100%;
  min-height: 1rem;
  padding: .3rem .2rem;
  border-bottom: 1px solid #bbbbbd;
  background: #fff;
  li{
    float: left;
    width: 25%;
    padding-right: .3rem;
    margin-bottom: .2rem;
    position: relative;
    span{
      display: block;
      width: 100%;
      height: 1.4rem;
      vertical-align: middle;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    >img.del_notice{
      position: absolute;
      top: 0;
      right: 0;
      width: .3rem;
    }
  }
}

.model-box{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  >p{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 300;
    >span{
      display: inline-block;
      width: 2rem;
      padding: .1rem;
      border-radius: 2px;
      background: #f49e00;
      text-align: center;
      &#black{
        margin-right: .5rem;
      }
    }
  }
}