body {
  background: #fff;
  overflow: hidden;
}
.section {
  width: 7rem;
  height: 100%;
  margin: 0 auto;
}
.section .nav {
  width: 100%;
}
.section .nav>ul {
  width: 100%;
  color: #fff;
}
.section .nav>ul>li {
  float: left;
  width: 49.5%;
  height: .75rem;
  line-height: .75rem;
  text-align: center;
}
.section .nav>ul>li a {
  color: #fff;
}


.section .nav>ul>li div{
	position: relative;
	z-index: 10;
	display: none;
}
.section .nav>ul>li div ul{
	padding: 0 .2rem;
	background: #bbbbbd;
}
.section .nav>ul>li div ul li {
  height: .75rem;
  line-height: .75rem;
	border-bottom: 1px solid #fff;
	color: #fff;
}
.section .nav>ul>li div ul li:last-child{
	border: none;
}

.section .nav>ul>li:nth-child(2) {
  width: 1%;
}
.section .nav>ul>li:first-child {
  background: #b5b5b6;
}
.section .nav>ul>li:last-child {
  background: #f6ad3c;
  position: relative;
}
.section .nav>ul>li:last-child img {
  height: 80%;
  position: absolute;
  left: 0;
  top: 0.1rem;
}
.section .nav>ul>li:last-child i {
  display: inline-block;
  width: 0;
  height: 0;
  border: .2rem solid #f6ad3c;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 100%;
  left: 40%;
}
.section .nav p {
  padding: .22rem 0;
  text-align: center;
  color: #b0b1b0;
  font-size: .25rem;
}

.section .list ul{
	background: #f3f2f3;
}
.section .list ul li {
  padding: 0 2% 0 10%;
  line-height: .85rem;
  position: relative;
}
.section .list ul li span:first-child {
  float: left;
  width: 88%;
  border-bottom: 1px solid #ccc;
}
.section .list ul li span:nth-child(2) {
  float: right;
  width: 12%;
  font-size: .2rem;
  color: #f6ad3c;
}
.section .list ul li span:nth-child(2) img {
  width: .6rem;
  vertical-align: middle;
}
.section .list ul li:last-child span:first-child {
	border: none;
}