.section {
  width: 7rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.section-banner .swiper-container {
  width: 100%;
}
.section-banner .swiper-container img {
  width: 100%;
}
.section-main > ul {
  margin-top: .2rem;
  padding-left: .1rem;
}
.section-main > ul > li {
  box-sizing: border-box;
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
  background: #d87570;
  position: relative;
  text-align: center;
  color: #fff;
}
.section-main > ul > li:last-child{
	margin-right: 0;
}
.section-main > ul > li img:first-child {
  position: absolute;
  top: .1rem;
  right: .1rem;
  width: .3rem;
}
.section-main > ul > li img:nth-child(2) {
  width: .5rem;
  display: block;
}
.footer {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.footer ul {
  height: 100%;
}
.footer ul li {
  float: left;
  width: 33%;
  height: 100%;
  line-height: 1rem;
  border-right: 1px solid #fff;
  text-align: center;
}
.footer ul li a{
  color: #fff;
}
.footer ul li:last-child {
  border: none;
}
.model-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.model-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.model-content {
  box-sizing: border-box;
  width: 6.5rem;
  margin: 0 auto;
  padding: .3rem .2rem;
  background: #fff;
  color: #818788;
}
.model-content input {
  font-size: 0.34rem;
}
.model-content-info {
  width: 100%;
}
.model-content-info > li {
  width: 100%;
  height: .8rem;
  padding: 0 .1rem;
  border-bottom: 1px solid #bbbbbd;
  position: relative;
}
.model-content-info > li:first-child {
  line-height: .8rem;
}
.model-content-info > li .open-sel{
  height: 0.8rem;
  line-height: 0.8rem;
}
.model-content-info > li .open-sel > div {
	box-sizing: border-box;
  float: right;
  height: 100%;
  width: 1.5rem;
  padding: .05rem 0;
}
.model-content-info > li .open-sel > div > img:first-child {
  height: 100%;
  margin-right: .2rem;
}
.model-content-info > li .open-sel > div  > img:nth-child(2) {
  width: .3rem;
  margin-bottom: .26rem;
}
.model-content-url {
  width: 100%;
  height: .5rem;
  background: #f7f7f7;
  margin: .3rem 0;
}
.model-content-url > li {
  float: left;
  padding-left: .2rem;
}
.model-content-url > li:first-child {
  margin-right: .5rem;
}
.model-content-url > li.active {
  background: #f49e00;
  color: #f49e00;
}
.model-content-url > li > div {
  background: #f7f7f7;
}
.model-content-url > li > div img {
  position: relative;
  left: .1rem;
  vertical-align: middle;
  width: .28rem;
}
.model-content-urlSel {
  position: relative;
  height: .8rem;
  line-height: .8rem;
  padding-left: .1rem;
  border-bottom: 1px solid #ccc;
}
.model-content-urlSel p{
  width: 100%;
  overflow: hidden;
}
.model-content-urlSel p span{
	display: inline-block;
  width: 95%;
  text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.model-content-urlSel p img {
  float: right;
  width: 5%;
  margin-top: .25rem;
}
.model-content-urlSel input {
  display: none;
  line-height: .8rem;
}
.model-content-btn {
  text-align: center;
  margin-top: .3rem;
}
.model-content-btn a {
  display: inline-block;
  width: 4rem;
  height: .7rem;
  line-height: .7rem;
  border-radius: 5px;
  background: #f49e00;
  color: #fff;
}

.select-list{
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 1.05rem;
  right: 0;
  width: 6.5rem;
  height: 3.6rem;
  padding: 0 .2rem .2rem;
  z-index: 2000;
  background: #fff;
}
.select-list > i{
  display: inline-block;
  position: absolute;
  top: -.17rem;
  right: .9rem;
  width: .3rem;
  height: .3rem;
  border: 1px solid #f49e00;
  border-right: none;
  border-bottom: none;
  background: #fff;
  transform: rotate(45deg);
}
.select-list.select-list-url{
  right: -.2rem;
  padding: .2rem;
}
.select-list > img{
  position: absolute;
  top: -.3rem;
  right: .4rem;
  height: .3rem;

}
.select-list ul{
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: 1px solid #f49e00;
  box-sizing: border-box;
  padding-top: .2rem;
  padding-left: .2rem;
}
.select-list.select-list-url ul li{
  border-bottom: 1px solid #ccc;

  text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.select-list ul.clearfix li{
  float: left;
  width: 16.66%;
  box-sizing: border-box;
  padding-right: .2rem;
  padding-bottom: .2rem;
}
.select-list ul.clearfix li img{
  width: 100%;
}