/*header*/
.header {
  position: fixed;
  z-index: 1000;
  height: 0.8rem;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d8d7dc;
  background: #fefefe;
}
.nav_list li {
  height: 0.8rem;
  float: left;
  width: 20%;
}
.nav_list li a {
  box-sizing: border-box;
  display: block;
  font-size: 0.28rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #c9caca;
  font-family: "微软雅黑";
}
.nav_list li a .list_ioc {
  width: 0.18rem;
  height: 0.18rem;
  display: inline-block;
  background: url(../img/list_dow.png) center center no-repeat;
  background-size: 0.18rem 0.18rem;
}
.nav_list li a img {
  box-sizing: border-box;
  margin-top: -0.1rem;
  width: 0.45rem;
  vertical-align: middle;
}
/*内容区域*/
.section {
  padding-top: .9rem;
}
.section-header {
  background: #fff;
}
.section-header > p {
  padding: .15rem .2rem;
  border-bottom: 1px solid #bbbbbd;
}
.section-header > p:before {
  content: '';
  float: left;
  border-right: 2px solid #f49e00;
  height: .4rem;
  margin-right: .1rem;
}
.section-header .swiper-box {
  padding: .2rem .1rem;
}
.section-header .swiper-slide {
  width: 1.71rem;
}
.section-header .swiper-slide > div {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}
.section-header .swiper-slide > div img {
  max-width: 100%;
  max-height: 100%;
}
.section-header .swiper-slide > div > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .37rem;
  background: rgba(35, 24, 21, 0.7);
  color: #fff;
  font-size: .24rem;
}
.section-header .swiper-slide > ul {
  margin: .1rem 0 .2rem;
  font-size: .2rem;
}
.section-header .swiper-slide > ul > li span:last-child {
  font-size: .2rem;
  color: #bbbbbd;
}
.section-header .swiper-slide > ul > li:nth-child(2) img {
  width: .2rem;
}
.section-header .swiper-slide > p {
  width: 100%;
  text-align: center;
}
.section-header .swiper-slide > p > a {
  padding: .04rem .15rem;
  border-radius: 2px;
  background: #f49e00;
  color: #fff;
  font-size: .24rem;
}
.section-list > li {
  margin-top: .1rem;
  padding: 0 .1rem;
  background: #fff;
}
.section-list > li > ul {
  color: #bbbbbd;
}
.section-list > li > ul > li {
  float: left;
}
.section-list > li > ul:first-child {
  padding: .1rem .2rem 0 .1rem;
  border-bottom: 1px solid #bbbbbd;
}
.section-list > li > ul:first-child > li:first-child {
  width: 15%;
  margin-right: .15rem;
}
.section-list > li > ul:first-child > li:first-child img {
  width: 100%;
}
.section-list > li > ul:first-child > li:nth-child(2) {
  padding-top: .06rem;
  font-size: .3rem;
}
.section-list > li > ul:first-child > li:nth-child(2) p:first-child span:first-child {
  color: #231815;
}
.section-list > li > ul:first-child > li:nth-child(2) p:first-child span:last-child {
  font-size: .26rem;
}
.section-list > li > ul:first-child > li:last-child {
  float: right;
  padding-top: .06rem;
  text-align: right;
}
.section-list > li > ul:first-child > li:last-child p {
  font-size: .2rem;
}
.section-list > li > ul:first-child > li:last-child p img {
  width: .25rem;
  vertical-align: middle;
}
.section-list > li > ul:first-child > li:last-child p:first-child {
  margin-bottom: .3rem;
  color: #f49e00;
}
.section-list > li > ul:last-child {
  padding: .1rem;
  font-size: .2rem;
}
.section-list > li > ul:last-child li:first-child {
  margin-right: 1rem;
}
.section-list > li > ul:last-child li:first-child img {
  width: .25rem;
  vertical-align: middle;
}
.section-list > li > ul:last-child li:last-child {
  float: right;
  text-align: right;
}
.section-list > li > ul:last-child li:last-child span {
  display: inline-block;
  padding: .04rem .15rem;
  background: #f49e00;
  border-radius: 2px;
  color: #fff;
}
/*footer*/
.my_activity_footer {
  border-top: 1px solid #bebebe;
  height: 0.9rem;
  background: #fff;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.my_activity_btn {
  display: block;
  background: #f0f0f0;
  width: 20%;
  height: 0.9rem;
  float: left;
  text-align: center;
  font-size: 0.18rem;
}
.my_activity_btn a {
  height: 0.9rem;
  width: 100%;
  display: block;
}
.my_activity_btn .my_activity_icon {
  display: block;
  width: 0.45rem;
  height: 0.45rem;
  margin: 0.08rem auto 0.05rem;
  background: url(../img/my_activity_ico.png) center no-repeat;
  background-size: contain;
}
.my_activity_btn span {
  padding-top: 0.08rem;
  font-size: 0.16rem;
}
.export_emall {
  float: right;
  width: 80%;
  height: 0.9rem;
  line-height: 0.9rem;
  position: relative;
  font-size: 0.28rem;
  color: #fff;
  text-align: center;
  background: #ffa404;
}
.export_emall_content {
  /*width: 0.4rem;*/
}
.export_emall > a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}
.export_emall .export_emall_icon {
  box-sizing: border-box;
  display: inline-block;
  width: 0.40rem;
  height: 0.40rem;
  background: url(img/export_emall_icon.png) center no-repeat;
  background-size: contain;
  margin-top: 0.25rem;
  margin-left: 2.32rem;
  margin-right: 0.07rem;
  float: left;
}
.export_emall span {
  display: inline-block;
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.28rem;
  margin-top: 0.31rem;
  float: left;
}
.not_certification .bottom_content .visiting_card {
  font-size: 0.22rem;
  text-align: center;
  height: 0.43rem;
  line-height: 0.43rem;
  width: 1.3rem;
  color: #fff;
  background: #56aab7;
  border-radius: 0.04rem;
  float: right;
}
.not_certification .top_content .right_content .certification {
  margin-top: 0.65rem;
  font-size: 0.28rem;
  /*color: #feb800;*/
  padding-left: 0.35rem;
  background: url(../img/v_ico2.png) left center no-repeat;
  background-size: 0.32rem 0.32rem;
  color: #c9caca;
}
