  body{
    background: #fefefe;
  }
  .member_enterprise_content{
    width: 7rem;
    margin:0 auto;
  }
  .member_enterprise_content .member_img{
    width: 6.9rem;
    margin:0.05rem auto;
  }
  .member_enterprise_content .member_img img{
    width: 6.9rem;
    max-height: 3.65rem;
  }
  .member_enterprise_content  .member_info{
    width: 7rem;
    height: 1.2rem;

    border-bottom: 1px solid #9e9e9e;
  }
  .member_enterprise_content  .member_info img{
    width:0.96rem;
    height: 0.96rem;
    float: left;
    margin: 0.1rem 0.26rem 0.1rem 0.4rem;
    border-radius: 50%;
    -webkit-border:50%;
  }
  .member_enterprise_content  .member_info .member_right{
    float: left;
    width: 5rem;
    height: 1.2rem;
  }
   .member_info .member_right .memb_position .name{
    
    font-size: 0.3rem;
    color: #332C2B; 
  }
   .member_info .member_right .memb_position .position{
    padding-left: 0.22rem;
    font-size: 0.12rem;
    color: #74bc3a; 
    background: url(../img/v_ico.png) left bottom no-repeat;
    background-size: 0.2rem;
  }
   .member_info .member_right .memb_company{
    font-size: 0.14rem;
    color: #9e9e9e; 
  }
   .member_info .member_right .company_position{
     
    font-size: 0.16rem;
    color: #4e4c4c; 
  }
  .company_profile{
    padding: 0 0.45rem;
  }
 .company_profile .profile_tit{
    margin: 0.2rem auto;
    width: 1.55rem;
    height: 0.52rem;
    background: #ffa304;
    color: #fff;
    font-size: 0.28rem;
    line-height: 0.52rem;
    text-align: center;
    border-radius: 0.08rem;
  }
  .company_profile .profile_cont{
    font-size: 0.26rem;
    color: #ffa304;
    line-height: 0.4rem;
    text-indent: 0.48rem;
  }