
body {
  background: #fff;
  font-size: 0.3rem;
  max-width: 100%;
}

.position_dues_section{
  width: 7rem;
  margin: 0 auto;
}
.position_dues_section .preserved{
  width: 7rem;
  height: 0.73rem;
  padding: 0.1rem;
  background: #ffa304;
}
.position_dues_section .preserved>a{
  display: block;
  float: right;
  margin-right: 0.35rem;
  padding: 0.07rem 0.15rem;
  color: #fff;
  font-size: 0.3rem;
  border: 1px solid #fff;
  border-radius: 0.1rem;
}
.position_dues_section .upload_bg_box{
  width: 100%;
  margin:0 auto;
  padding: .15rem 0 0.1rem .15rem;
  background: #f0f0f2;
  position: relative;
  text-align: center;
  background-size: 1.9rem 0.6rem;
}
.position_dues_section .upload_box_bg{
  height: 0.95rem;
  width: 100%;
  background: #f0f0f1;
  position: relative;
}
.position_dues_section #upload_bg_inp{
  display: none;
}
.position_dues_section .upload_bg_box .upload_bg img{
  height: 0.8rem;
  width: 2.85rem;
}
.position_dues_section .authentication{
  position: absolute;
  bottom: .13rem;
  right: .27rem;
  font-size: .26rem;
  color: #ffa304;
}
.position_dues_section .authentication img {
  width: .34rem;
  vertical-align: top;
}


.sel_member{
  position: relative;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #e3e3e3;
  background: #fff;
  font-size: 0.28rem;
  font-family: "微软雅黑";
}
.sel_member .menmber_ico{
  float: left;
  box-sizing: border-box;
  width: 0.3rem;
  height: 0.3rem;
  margin-left: 0.3rem;margin-top: 0.33rem;

}
.sel_member .left_tit{
  float: left;
  padding-left: 0.15rem;
  font-size: 0.28rem;
  color: #c8c8c8;
  height: 1rem;
  line-height: 1rem;
  font-family: "微软雅黑";
}
.sel_member .right_cntent{
  position: absolute;
  top: 0;
  right: 0.6rem;
  font-size: 0.28rem;
  color: #B6B6B7;
  height: 1rem;
  line-height: 1rem;
  font-family: "微软雅黑";
}
.sel_member #bind_phone{
  position: absolute;
  top: 0.15rem;
  right: 0.6rem;
  color: #ffa304;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0 0.16rem;
  border:1px solid #ffa304;
  border-radius:0.06rem;
}
.sel_member .right_ico img{
 position: absolute;
  top: 0;
  right: 0.25rem;
  height: 0.3rem;
  width: 0.3rem;
  padding-top: 0.35rem;
}
 
.sel_member .position_inp{
  width:4.5rem;
  height: 0.9rem;
  line-height: 0.9rem;
  color: #5a5a5a;
  font-size: 0.28rem;
  font-family: "微软雅黑";
  padding-left: 0.2rem;
}
.sel_member >span:last-child{
  float: right;
  margin-top: 0.08rem;
  margin-right: 0.2rem;
}
.sel_member >span:last-child img{
  width: 0.35rem;
}
.sketch_box{
  box-sizing: border-box;
  width: 7rem;
  height: 1.4rem;
  margin-top: 0.05rem;
  overflow: hidden;
  border-bottom:1px solid #d7d7d7;
}
.sketch_box .sketch_tit{
  box-sizing: border-box;
  width: 7rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-left: 0.4rem;
  font-size: 0.28rem;
  color: #b7b7b8;
  background: #eeeeef;
}
.sketch_box .sketch_textarea{
  box-sizing: border-box; 
  width: 7rem;
  height: 0.95rem;
  line-height: 0.95rem;
  font-size: 0.3rem;
  color: #333;
  background: #fff;
  padding-left: 0.6rem;
}
.info_box{
  box-sizing: border-box;
  width: 7rem;
  min-height: 2.85rem;
  margin-top: 0.05rem;
  border-bottom:1px solid #d7d7d7;
}
.info_box img{
  width: 100%;
}
.info_tit{
  box-sizing: border-box;
  width: 7rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-left: 0.4rem;
  font-size: 0.28rem;
  color: #b7b7b8;
  background: #eeeeef;
}
.sketch_box .info_box{
  box-sizing: border-box; 
  width: 7rem;
  height: 2.85rem;
  overflow: scroll;
}




/*遮罩层*/
 #bind_amdin_mask{
    position: fixed;
    background: rgba(0,0,0,0.76);
    height: 100%;
    width: 100%;
    z-index: 1200;
    display: none;
 }
 



/*搜索框*/
.chat_header {
  position: fixed;
  z-index: 1000;
  height: 0.8rem;
  top: 0;
  left: 0;
  width: 100%;
  background: #f0f0f2;
}
.chat_header .search_from{
  width: 95%;
  height: 0.8rem;
  margin: 0 auto;
}
.chat_header .input_box{
  float: left;
  margin-top: 0.13rem;
  height: 0.56rem;
  width: 88%;
  border:1px solid #dededf;
  background: #fff;
  border-radius: 0.08rem;
}
.input_box>input{
  float: left;
  height: 0.56rem;
  width: 85%;
  font-size: 0.2rem;
}
.chat_header .input_box .search_bnt{
  float: left;
  width: 0.7rem;
  height: 0.56rem;
  overflow: hidden;
}
.chat_header .input_box .search_bnt img{
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  padding-left: 0.1rem; 
  overflow: hidden;
}
.chat_header .add_contacts{
  float: right;
  width: 10%;
  height: 0.8rem;
  line-height:  0.8rem;
  color: #ffa304;
  text-align: center;
}
.chat_header .add_contacts a{
  float: left;
  width: 6.4%;
  height: 0.8rem;
  text-align: center;
}
.chat_header .add_contacts img{
  padding-top: 0.16rem;
  padding-left: 0.10rem;
  width: 0.45rem;
  height: 0.45rem;
  overflow: hidden;
}

/*搜索内容*/
.member_enterprise_content{
    width: 7rem;
    margin:0.8rem auto 0rem;
    background: #fefefe;
  }
  .member_enterprise_content .member_enterprise_tit{
    box-sizing: border-box;
    width: 6.9rem;
    margin: 0 auto;
    height: 0.56rem;
    line-height: 0.56rem;
    background: #ffa304;
    color: #fff;
    font-size: 0.32rem;
    padding-left: 0.2rem;
  }
  .member_enterprise_content .member_enterprise_list{
    width: 7rem;
    margin:0 auto;
  }
  .member_enterprise_content .member_enterprise_list>li{
    width: 7rem;
    height: 1.5rem;
    border-bottom: 1px solid #eeeeef;
  }
  .member_enterprise_content .member_enterprise_list>li img{
    width: 1.5rem;
    height: 1.1rem;
    float: left;
    margin: 0.2rem;
  }
  .member_enterprise_content .member_enterprise_list>li .member_right{
    float: left;
    width: 5rem;
    height: 1.5rem;
  }
  .member_enterprise_list>li .member_right .memb_position{
    margin-top:0.22rem;
    font-size: 0.24rem;
    color: #ffa304; 
  }
  .member_enterprise_list>li .member_right .memb_company{
    margin-top:0.02rem;
    font-size: 0.28rem;
    color: #332C2B; 
  }
  .member_enterprise_list>li .member_right .company_position{
    margin-top:0.02rem;
    font-size: 0.26rem;
    color: #4e4c4c; 
  }

.text_intro img{
  width: 100%;
}


/* 截取图片 */
.upload_bg_box .upload_bg{
    display: table-cell;
    height: 1.55rem;
    width: 7rem;
    vertical-align: middle;
    position: relative;
}
.upload_bg_box ul{
    float: left;
    width: 75%;
    display: none;
}
.upload_bg_box p{
   	float: right;
    box-sizing: border-box;
    width: 25%;
    padding-right: .15rem;
    position: relative;
    display: none;
}
.upload_bg_box p img{
    padding: 0.2rem;
}
.upload_bg_box ul li{
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 33.3%;
    padding-right: .15rem;
    display: table-cell;
    vertical-align: middle;
    height: 1.8rem;
    text-align: center;
}
.upload_bg_box ul li img:first-child, .upload_bg_box p img{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #846d6d;
}
.upload_bg_box ul li img:nth-child(2){
    position: absolute;
    top: -.15rem;
    right: 0;
    width: 0.4rem;
}

.upload_bg input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}