ul,li{
    list-style: none;
}
body,p,ul,li{
    margin: 0;
    padding: 0;
}
body{
    background: #f0f0f2;
}
#header{
    padding: .16rem;
    margin-bottom: .08rem;
    text-align: center;
    background: #fff;
}
.section{
    width: 7rem;
    margin: 0 auto;
}
#nav ul{
    width: 100%;
    background: #fff;
}
#nav ul li{
    float: left;
  width: 33%;
}
#nav ul li:last-child a{
  border-right: none;
}
#nav ul li a{
    display: block;
	width: 100%;
	height: 100%;
    padding-top: 0.05rem;
  text-align: center;
  border-right: 1px solid #ccc;
}
#nav ul li:last-child{
    border: none;
}
#nav ul li span{
    display: block;
    margin-bottom: 0.05rem;
}
#main{
    width: 100%;
    margin-top: 0.1rem;
}
#main ul{
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
    background: #fff;
}
#main ul li{
    padding: 0.2rem;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
}
#main ul li:last-child{
    border: none;
}
#main ul li img{
    width: .3rem;
    height: .3rem;
    margin-right: .05rem;
    margin-bottom: .1rem;
    vertical-align: middle;
}
#main ul li i{
    float: right;
    width: .2rem;
    height: .2rem;
    margin-top: .13rem;
    margin-right: .08rem;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
}
#main ul li span{
    float: right;
    margin-right: .1rem;
    margin-top: .05rem;
}
#main ul li input{
    float: right;
    margin-right: 16px;
}
#main div{
    padding: 10px;
    text-align: center;
}
#main div>a{
    display: block;
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    border: none;
    border-radius: 5px;
    background: red;
    color: #fff;
}
