/*公众号助手—弹出层*/
 /*遮罩层*/
#mask{
	position: fixed;
	background: rgba(0,0,0,0.76);
	height: 100%;
	width: 100%;
	z-index: 1200;
}
#mask .popup{
	box-sizing: border-box;
	width: 5.9rem;
	background: #fff;
	position: absolute;
	top: 24%;
	margin-left: -2.95rem;
	left: 50%;
	z-index: 1300;
	padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}
#mask .popup .close_popup{
	position: absolute;
	top: 0.1rem;
	right: 0.15rem;
	width: 0.43rem;
	height: 0.43rem;
}
#mask .popup .close_popup img{
	width: 0.43rem;
	height: 0.43rem;
}
 .menu_set{
	text-align: center;
	margin-top: -0.2rem;
	margin-left: -0.2rem;
	padding-bottom: 0.2rem;
	font-size: 0.30rem;
}
.input_form .popup_inp{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 0.6rem;
	padding-left: 0.1rem;
	border:1px solid #e3e3e3;
	background: #fff;
	vertical-align: middle;
}
.popup_btn_box{
	/*padding: 0.3rem 0;*/
	text-align: center;
}
.popup_btn_box .preserved_btn{
	display: block;
	padding: 0.03rem 0.3rem;
	height: 0.4rem;
	line-height: 0.4rem;
	background: #ffa404;
	color: #fff;
	font-size: 0.26rem;
	font-family: "微软雅黑";
	border-radius: 0.04rem;
	border:1px solid #ffa404;
	margin-bottom: 0.2rem;
}
.popup_btn_box .del_menu_btn{
	display: block;
	/*width: 1.2rem;*/
	height: 0.4rem;
	line-height: 0.4rem;
	background: #fefefe;
	color: #ffa404	;
	font-size: 0.26rem;
	font-family: "微软雅黑";
	border-radius: 0.04rem;
	border:1px solid #ffa404;
	padding: 0.03rem 0;
}
.input_tips{
	font-family: "微软雅黑";
	font-size: 0.10rem;
	text-align: left;
	color: #ffa404;
	padding:0.05rem 0 0.3rem 0rem;
}
